.ids-finder {
  width: 100%;
}

.ids-finder article {
  height: 100%;
}

.ids-finder-field-row {
  margin-top: 0.5rem;
}

.ids-finder-field-row label {
  display: inline-block;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

.ids-finder-footer {
  display: flex;
  justify-content: flex-start;
}
