.button {
  margin-left: 0.5rem;
  padding: 0.1rem 0.55rem;
  font-size: 0.74rem;
}

@media (width <= 767px) {
  .button {
    margin-left: 0;
    padding: 0.08rem 0.5rem;
    font-size: 0.7rem;
  }
}
