.char {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0.25rem 0 0;
  font-size: 100px;
  width: 120px;
  height: 120px;
  text-align: center;
  overflow: clip;
}

.char.charLink,
.kdpvChar.charLink {
  border-color: #88f;
}

.charLink a {
  display: block;
  width: fit-content;
  color: #000;
  text-decoration: none;
}

.glyphwiki img,
.char > img {
  display: block;
  padding: 5px;
}

.rawChar {
  display: inline-block;
  height: 100px;
  line-height: 100px;
}

.kdpvChar {
  flex-shrink: 0;
  margin: 0.25rem 0 0;
  padding: 0 0.7rem;
  font-size: 100px;
  width: fit-content;
  height: 120px;
  line-height: 110px;
}

.sourceHanSerif {
  font-family: Mojidata-SourceHanSerif, Mojidata-SourceHanSerifJP,
    Mojidata-SourceHanSerifSC, Mojidata-SourceHanSerifTC,
    Mojidata-SourceHanSerifKR, "Noto Serif JP", "Noto Serif SC",
    "Noto Serif TC", "Noto Serif KR", "Hiragino Mincho ProN", "Yu Mincho",
    YuMincho, "MS PMincho", "MS Mincho", serif;
}

.sourceHanSerif:lang(ja) {
  font-family: Mojidata-SourceHanSerifJP, Mojidata-SourceHanSerif,
    "Noto Serif JP", "Hiragino Mincho ProN", "Hiragino Mincho Pro",
    "Yu Mincho", YuMincho, "MS PMincho", "MS Mincho", serif;
}

.sourceHanSerif:lang(ko) {
  font-family: Mojidata-SourceHanSerifKR, Mojidata-SourceHanSerif,
    "Noto Serif KR", AppleMyungjo, Batang, BatangChe, serif;
}

.sourceHanSerif:lang(zh-CN) {
  font-family: Mojidata-SourceHanSerifSC, Mojidata-SourceHanSerif,
    "Noto Serif SC", "Songti SC", STSong, SimSun, NSimSun, serif;
}

.sourceHanSerif:lang(zh-TW) {
  font-family: Mojidata-SourceHanSerifTC, Mojidata-SourceHanSerif,
    "Noto Serif TC", "Songti TC", "LiSong Pro", PMingLiU, MingLiU, serif;
}

.sourceHanSerif:lang(zh-HK) {
  font-family: Mojidata-SourceHanSerifHK, Mojidata-SourceHanSerif,
    "Noto Serif HK", "Songti TC", "LiSong Pro", "MingLiU_HKSCS", PMingLiU,
    MingLiU, serif;
}
