.mojidata-search {
  width: 100%;
}

.mojidata-search article {
  height: 100%;
}

.search-field-row {
  margin-top: 0.4rem;
}

.search-form-footer {
  display: flex;
  justify-content: flex-start;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
