.root {
  display: grid;
  gap: 0.5rem;
}

.input {
  border-radius: 0.375rem;
  font-size: 1rem;
}

.input::placeholder {
  color: hsl(var(--muted-foreground));
}

@media (width >= 768px) {
  .input {
    font-size: 0.875rem;
  }
}
