.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.side {
  width: 5rem;
  text-align: center;
}

.placeholder {
  display: inline-block;
  width: 100%;
}

.status {
  width: 10rem;
  text-align: center;
}

.link {
  width: 100%;
  padding: 0 0.75rem;
  color: inherit;
}

@media (width >= 640px) {
  .root {
    gap: 1rem;
  }
}
