.article-ids-find-response {
  padding: 3px;
}

.ids-find-response {
  display: flex;
  flex-flow: row wrap;
}

.ids-find-result-char {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 3px;
  border: 1px solid #ccc;
  font-size: 50px;
  width: 60px;
  height: 60px;
  line-height: 55px;
  text-align: center;
  overflow: clip;
}

.ids-find-result-char > a {
  display: block;
  color: #000;
  text-decoration: none;
}

.ids-find-char-glyphwiki img {
  display: block;
}
