.mojidata-chars-comparison {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mojidata-chars-comparison > figure {
  margin: 5px;
}

.mojidata-char {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 10px 15px;
  border: 1px solid #ccc;
  color: #000;
  font-size: 100px;
  width: 120px;
  height: 120px;
  text-align: center;
  overflow: clip;
}

.mojidata-source-han-serif {
  /* TODO: consider font preference */
  font-family: Mojidata-SourceHanSerif, Mojidata-SourceHanSerifJP,
    Mojidata-SourceHanSerifSC, Mojidata-SourceHanSerifTC,
    Mojidata-SourceHanSerifKR, serif;
}

.mojidata-source-han-serif:lang(ja) {
  font-family: Mojidata-SourceHanSerif, Mojidata-SourceHanSerifJP, serif;
}

.mojidata-source-han-serif:lang(ko) {
  font-family: Mojidata-SourceHanSerif, Mojidata-SourceHanSerifKR, serif;
}

.mojidata-source-han-serif:lang(zh-CN) {
  font-family: Mojidata-SourceHanSerif, Mojidata-SourceHanSerifSC, serif;
}

.mojidata-source-han-serif:lang(zh-TW) {
  font-family: Mojidata-SourceHanSerif, Mojidata-SourceHanSerifTC, serif;
}

.mojidata-source-han-serif:lang(zh-HK) {
  font-family: Mojidata-SourceHanSerif, Mojidata-SourceHanSerifHK, serif;
}

.mojidata-mojijoho {
  font-family: 'Mojidata-IPAmjMincho', var(--font-notdef);
}

.mojidata-char-link a {
  display: block;
  color: #000;
  text-decoration: none;
  width: fit-content;
}

.mojidata-char.mojidata-char-link,
.mojidata-kdpv-char.mojidata-char-link {
  border: 1px solid #88f;
}

.mojidata-raw-char {
  display: inline-block;
  height: 100px;
  line-height: 100px;
}

.mojidata-kdpv-char {
  flex-shrink: 0;
  margin: 10px 15px;
  border: 1px solid #ccc;
  font-size: 100px;
  width: fit-content;
  height: 120px;
  line-height: 110px;
}

.mojidata-char-glyphwiki img {
  display: block;
  padding: 5px;
}
