.drawer {
  position: absolute;
  inset-inline: 0;
  bottom: 0;
  max-height: 85vh;
  overflow: auto;
  border-radius: 0.75rem 0.75rem 0 0;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
