.input {
  border-radius: calc(var(--radius) - 2px);
  font-size: 1rem;
  line-height: 1.25rem;
}

.input::placeholder {
  color: hsl(var(--muted-foreground));
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.input::file-selector-button {
  border: 0;
  background: transparent;
  font-size: 0.875rem;
  font-weight: 500;
}

@media (width >= 768px) {
  .input {
    font-size: 0.875rem;
  }
}
